:root {
  --color-white: #fff;
  --color-gray: #c4c4c4;
  --color-black: #000;
  --color-purple: #8000ff;
  --color-light-purple: #cf59e6;
  --color-light-blue: #6bc5f8;
  --color-light-yellow: #fd0;
  --color-light-orange: #fbb034;
  --color-green: #63898a;
  --color-light-green: #9fbcbf;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2em;
  gap: 2em;
}

h1 {
  font-family: 'Arial', sans-serif;
  font-size: 24px;
  text-align: center;
  margin: 0;
  color: var(--color-light-purple);
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  margin-top: 20px;
}

.form-container input {
  width: 100%;
  padding: 0.5em 1em;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}

.form-container button {
  width: 100%;
  padding: 0.5em 1em;
  font-size: 16px;
  background: var(--color-light-purple);
  color: var(--color-white);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-container button:disabled {
  background: var(--color-gray);
  cursor: default;
}

.column {
  background: var(--color-light-green);
  padding: 1em;
  border-radius: 10px;
  width: 300px;
}

.column h2 {
  margin-top: 0;
  font-size: 20px;
  color: var(--color-black);
}

.task {
  background: var(--color-white);
  border-radius: 5px;
  padding: 1em;
  margin-bottom: 1em;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
  font-size: 16px;
}

button {
  display: block;
  width: 100%;
  padding: 0.5em 1em;
  margin-top: 1em;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:disabled {
  background: #ccc;
  cursor: default;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  gap: 20px;
}

.Kanban {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 2em;
  gap: 2em;
}

.gradient {
  background: -webkit-linear-gradient(135deg,var(--color-light-blue),var(--color-light-purple),var(--color-light-blue),var(--color-light-purple));
  background: linear-gradient(-45deg,var(--color-light-blue),var(--color-light-purple),var(--color-light-blue),var(--color-light-purple));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 400% 400%;
  -webkit-animation: gradient 3s ease infinite;
  animation: gradient 3s ease infinite;
}

@-webkit-keyframes gradient {
  0% { background-position: 0px 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0px 50%; }
}
@keyframes gradient {
  0% { background-position: 0px 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0px 50%; }
}

.Loading {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}